:root {
	// colors
	--color-main:#f1b612;
	--color-accent:#28a5d5;
	--color-black:#29292B;

	//font sizes
	--font-body:16px;
	--font-h1:4.75em;

	//margins
	--gutter:90px;

	@media screen and (max-width:768px) {
		--font-h1:3.5em;

		--gutter:50px;
	}
}

* {
	border:0px;
	box-sizing:border-box;
	margin:0px;
	padding:0px;
}

body {
	background-color:var(--color-main);
	color:var(--color-black);
	font-family:"Inter", sans-serif;
	font-size:var(--font-body);
	line-height:1em;
	min-height:100vh;
	min-height:100dvh;
	
	&.alternate {
		--color-accent:#f1b612;
		--color-main:#28a5d5;
	}
}

main {
	align-items:flex-start;
	display:flex;
	flex-direction:row;
	justify-content:space-between;

	@media screen and (max-width:768px) {
		flex-direction:column;
	}
}

footer {
	border-top:1px solid var(--color-black);
	margin:1em 40px 40px 40px;
	padding-top:1em;
	position:relative;
	z-index:2;

	a {
		color:var(--color-black);
		display:inline-block;
		transition:color 0.3s ease-out;

		&:hover {
			color:var(--color-accent);
		}
	}
}

header {
	margin-bottom:var(--gutter);
}

section {
	&#main {
		//flex:0 1 50%;
		width:50%;

		@media screen and (max-width:768px) {
			width:100%;
		}
	
		h1 {
			font-size:var(--font-h1);
			letter-spacing:0px;
			line-height:1.2em;
			margin-bottom:var(--gutter);
			margin-top:-0.1em;
		}

		form {
			flex:1 0 100%;

			button[type="submit"] {
				background:transparent;
				border:1px solid var(--color-black);
				border-radius:20px;
				color:var(--color-black);
				font:normal 14px/20px "Roboto Mono", monospace;
				line-height:38px;
				padding:0px 2em;
				text-transform:uppercase;
				transition:background-color 0.3s ease-out, color 0.3s ease-out;

				&:hover {
					background:var(--color-accent);
					cursor:pointer;
				}

				&:disabled {
					background-color:transparent;
					color:var(--color-black);
				}
			}

			#file {
				border:1px solid transparent;
				margin:1em 0px;
				position:relative;
				transition:border-color 0.3s ease-out;
				width:300px;

				&_input {
					box-sizing:border-box;
					cursor:pointer;
					height:40px;
					opacity:0;
					position:relative;
					width:100%;
					z-index:10;
				}

				&_text {
					align-items:center;
					box-sizing:border-box;
					cursor:pointer;
					display:flex;
					gap:1em;
					line-height:20px;
					overflow:hidden;
					padding:10px 0px;;
					position:absolute;
					transition:padding-left 0.3s ease-out;
					width:100%;
  					z-index:1;

					img {
						display:block;
						margin-top:0.1em;
						width:33px;
					}
				}

				&:hover {
					border-color:var(--color-black);

					#file_text {
						padding-left:1em;
					}
				}
			}

			#upload-result {
				&.complete {
					margin-top:1em;
				}
			}
		}

		#action-form {
			align-items:flex-start;
			display:flex;
			overflow:hidden;

			#uploadform {
				transition:margin-left 0.5s cubic-bezier(1,0,0,1), opacity 0.25s ease-out;
			}

			#reportform {
				opacity:0;
				transition:opacity 0.25s ease-out;
				transition-delay:0.25s;
			}

			&.alternate {
				#uploadform {
					margin-left:-100%;
				}

				#reportform {
					opacity:1;
				}
			}
		}
	}

	&#terms {
		// flex:0 1 30%;
		width:30%;

		@media screen and (max-width:768px) {
			width:100%;
			margin-top:var(--gutter);
		}

		#terms-list {
			list-style-type:none;

			li {
				line-height:1.2em;

				span {
					font-weight:bold;
				}

				& + li {
					margin-top:1em;
				}
			}
		}
	}
}

#app {
	position:relative;
	padding:40px;
	z-index:10;
}

#progress {
	background-color:var(--color-accent);
	bottom:0px;
	left:0px;
	position:fixed;
	top:0px;
	transition:width 0.15s ease-out;
	width:0%;
	z-index:0;
}

#report-buttons {
	align-items:center;
	display:flex;
	justify-content:flex-start;
	gap:2em;
}

.dbl {
	&-pad {
		padding-bottom:2em;
	}
}

.font-accent {
	font-family:"Roboto Mono", monospace;
	text-transform:uppercase;
}

.hidden {
	display:none;
}

.report-toggle {
	background-color:transparent;
	border:0px;
	font:inherit;
	line-height:1em;
	padding:0px;
	text-decoration:underline;
	text-decoration-color:transparent;
	transition:text-decoration-color 0.3s ease-out;

	&:hover {
		cursor:pointer;
		text-decoration-color:var(--color-black);
	}
}

.std {
	&-border {
		border-bottom:1.5px solid var(--color-black);
	}

	&-pad {
		padding-bottom:1em;
	}
}

.sticky {
	left:40px;
	position:fixed;
	right:40px;
	top:40px;
	z-index:100;
}

.textdata {
	background-color:transparent;
	border:1px solid var(--color-black);
	color:var(--color-black);
	font-family:inherit;
	height:38px;
	padding:0px 1em;
	width:300px;
}

.toggle-label {
	display:inline-block;
	cursor:pointer;

	&:hover {
		text-decoration:underline;
	}
}

@keyframes report-form {
	0% {
		//margin-left:-1em;
		opacity:0;
	}

	99% {
		//margin-left:1em;
		opacity:1;
	}
}