#ErrorDocument 404 /
Options +FollowSymLinks
RewriteEngine On

RewriteBase /

#RewriteCond %{HTTPS} !=on
# This checks to make sure the connection is not already HTTPS
#RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]

RewriteRule upload[/]?$ ./upload.php?$ [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([a-zA-Z0-9]{6,9})$ /image.php?key=$1 [L]

